<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Vue.js - Hello World</title>
    </head>
    
    <body>
        <script src="https://unpkg.com/vue@3"></script> 

        <!-- Control Vue.js -->
        <div id="app">
            <h1>Batman Quotes</h1>

            <ul>
                <!-- V-For -->
                <li v-for="quote of quotes">
                    <span>{{ quote.quote }}</span>
                    <blockquote> - {{ quote.author  }}</blockquote>
                </li>

                <hr>
                <br>

                <!-- Destructuring Object -->
                <li v-for="{ quote, author } of quotes">
                    <span>{{ quote }}</span>
                    <blockquote> - {{ author  }}</blockquote>
                </li>

                <hr>
                <br>

                <!-- Index -->
                <li v-for="(quote, index) of quotes">
                    <span>{{ index + 1 }}. {{ quote.quote }}</span>
                    <blockquote> - {{ quote.author  }}</blockquote>
                </li>

                <hr>
                <br>

                <!-- Index with Destructuring -->
                <li v-for="({ quote, author }, index) of quotes">
                    <span>{{ index + 1 }}. {{ quote }}</span>
                    <blockquote> - {{ author  }}</blockquote>
                </li>
            </ul>
        </div>

        <script src="app.js"></script>
    </body>
</html>