<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Vue.js - Hello World</title>
    </head>
    
    <body>
        <script src="https://unpkg.com/vue@3"></script> 

        <!-- Control Vue.js -->
        <div id="app">
            <h1>Batman Quotes - <small>{{ newQuote }}</small></h1>
            <input 
                type="text" 
                v-model="newQuote" 
                v-on:keypress.enter="onAddQuote" 
                placeholder="New quote">
            
            <hr>

            <ul>
                <!-- V-For -->
                <li v-for="quote of quotes">
                    <span>{{ quote.quote }}</span>
                    <blockquote> - {{ quote.author  }}</blockquote>
                </li>

                <hr>

                <!-- Destructuring Object -->
                <li v-for="{ quote, author } of quotes">
                    <span>{{ quote }}</span>
                    <!-- <blockquote v-if="author"> - {{ author  }}</blockquote> -->
                    <blockquote v-show="author"> - {{ author  }}</blockquote>
                </li>

                <hr>

                <!-- Index -->
                <li v-for="(quote, index) of quotes">
                    <span>{{ index + 1 }}. {{ quote.quote }}</span>
                    <blockquote> - {{ quote.author  }}</blockquote>
                </li>

                <hr>

                <!-- Index with Destructuring -->
                <li v-for="({ quote, author }, index) of quotes">
                    <span>{{ index + 1 }}. {{ quote }}</span>
                    <blockquote> - {{ author  }}</blockquote>
                </li>
            </ul>
        </div>

        <script src="app.js"></script>
    </body>
</html>